streamlit==1.3.0
matplotlib
pandas
base58==2.0.0
pickleshare==0.7.5
numpy==1.18.1
click<=8.0.4
sklearn==0.0
streamlit_lottie==0.0.2
requests==2.24.0
plotly_express
requests==2.24.0
altair==4.1.0
bokeh==2.2.3
plotly
ta
pmdarima
